<!DOCTYPE html>
<html>
  <head>
    <title>Otherreads</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script>
      window.github = "<%= image_url('iconfinder_Github_1298743.png') %>";
      window.linkedin = "<%= image_url('iconfinder_linkedin_287553.png') %>";
      window.FellowshipOfTheRing = "<%= image_url('book_covers/FellowshipOfTheRing.jpg') %>";
      window.TwoTowers = "<%= image_url('book_covers/TwoTowers.jpg') %>";
      window.ReturnOfTheKing = "<%= image_url('book_covers/ReturnOfTheKing.jpg') %>";
      window.Dune = "<%= image_url('book_covers/Dune.jpg') %>";
      window.DoRobotsDreamOfElectricSheep = "<%= image_url('book_covers/DoRobotsDreamOfElectricSheep.jpg') %>";
      window.HitchhikersGuide = "<%= image_url('book_covers/HitchhikersGuide.jpg') %>";
      window.Dracula = "<%= image_url('book_covers/Dracula.jpg') %>";
      window.Necroscope = "<%= image_url('book_covers/Necroscope.jpg') %>";
      window.Exorcist = "<%= image_url('book_covers/Exorcist.jpg') %>";
      window.GardensOfTheMoon = "<%= image_url("book_covers/GardensOfTheMoon.jpg") %>"
      window.Logo = "<%= image_url("Other-Reads-Logo.png") %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
